# Default ignored files
/.idea
/.idea/
/src/main/resources/telegramBotToken.txt
/src/main/resources/telegramBotUsername.txt
/src/main/resources/mongodbUsername.txt
/src/main/resources/mongodbPassword.txt
/target
/target/

