# Default ignored files
/.idea
/.idea/
/.idea/misc.xml
/src/main/resources/telegramBotToken.txt
/src/main/resources/telegramBotUsername.txt
/src/main/resources/mongodbUsername.txt
/src/main/resources/mongodbPassword.txt
/target
/target/
/money_splitting_bot
